/* *{
    margin: 0px;
    padding: 0px;
} */

header {
    display: flex;
    justify-content: space-between;
    border: solid 2px red;
    align-items: center;
    width: 90%;
    margin: auto;
}

header>:last-child {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

header>:last-child>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contaner {
    /* display: flex;
    justify-content: space-between; */
    border: solid 2px red;
}

.sidebar {
    width: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50vh;
    border-radius: 12px;
    border-top-right-radius: 18px;
    margin: 2px;
    position: absolute;
    z-index: 10;
    background-color: #fdfdfd;
}


.sidebar>button {
    background-color: black;
    text-align: end;
    border-top-right-radius: 18px;
    cursor: pointer;
    width: 100%;
}

.card-count>h3 {
    text-align: center;
    background-color: #fdfdfd;
    border: solid 2px blue;
    padding: 15px;
    border-radius: 12px;
    margin: 20px;
}

.colepsed {
    width: 20%;
}


.main {
    border: solid 2px blue;
    width: 80%;
    margin: auto;
    height: 400px;
}

.tast-info {
    display: none;
}

.assets-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: solid 2px yellow;
    gap: 50px;
    padding: 18px;
}

.assets-cont>div {
    display: flex;
    flex-direction: column;
    border: solid 2px green;
    border-radius: 20px;
}

.assets-cont>div>:first-child {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-titel {
    background-color: black;
    color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.head-titel>h3 {
    margin: 7px;
}