* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

/* styling for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

header>:last-child {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

header>:last-child>span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* styling for left side bar */

.sidebar {
    width: 7%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 70vh;
    border-radius: 12px;
    border-top-right-radius: 18px;
    margin: 2px;
    position: absolute;
    z-index: 10;
    background-color: #fdfdfd;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;


}


.sidebar>button {
    background-color: black;
    text-align: end;
    border-top-right-radius: 18px;
    cursor: pointer;
    width: 100%;
    align-items: center;
}

.sidebar>button>div {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.card-count>h3 {
    text-align: center;
    background-color: #fdfdfd;
    padding: 15px;
    border-radius: 12px;
    margin: 20px;
    border: solid blue;
}

.colepsed {
    width: 20%;
}

.tast-info {
    display: none;
}

/* hare is right side bar */
.right-sidebar {
    width: 7%;
    position: absolute;
    right: 0;
    top: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.right-sidebar>div {
    width: 50%;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px 0px;
}

.right-sidebar>div>img {
    cursor: pointer;
}

.right-sidebar>div>h3 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 2px;
}

/* styling for main */

.main {
    width: 70%;
    margin: auto;
}

/* hare is the main top heading saction styleing*/
.main-top {
    display: flex;
    justify-content: space-between;
}

.main-top>h1 {
    color: blue;
}

.main-top>button {
    width: 14%;
    height: 30px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 17px;
    background-color: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.main>:nth-child(2) {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 10px;
}

.main>:nth-child(2)>:first-child {
    font-size: 30px;
    margin: 3px;
}

/* hare is asset card contener */
.assets-cont {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    font-family: Open Sans;
    font-size: 14px;
    padding: 18px;
    font-weight: 400;
    line-height: 19.07px;
    letter-spacing: 0.02em;
    text-align: left;

}

/* hare is asset card  */
.assets-cont>div {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}

.assets-cont>div>:first-child {
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-titel {
    background-color: black;
    color: white;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

/* hare is the styling of thered contener 1 */
.head-titel>h3 {
    margin: 7px;
}

.thread-cont {
    margin-bottom: 20px;
}

.thread-cont>button {
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}

.thread-cont>button>span {
    width: 50%;
    display: block;
    align-items: center;
}

.thread-cont>button>span>img {
    width: 14%;
    margin-right: 10px;
}

.thread-Child {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colleps-div {
    display: none;
    justify-content: space-between;
}



.colleps-div>div {
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 12px;
    border-radius: 10px;
    margin-top: 15px;
}
.colleps-div>div>:first-child{
    margin-top: 0px;
    font-size: 14px;
}
.col-inp{
    width: 90%;
    margin: auto;
}

.const-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.const-div>:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.const-div>:last-child {
    width: 100%;
}

.const-div>:first-child>div,
button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 2px 5px;
    border-radius: 6px;
}

.const-div>:nth-child(2) {
    background-color: blue;
    color: white;
    text-align: center;
    width: 35%;
    border-radius: 12px;
    padding: 5px 10px;
    align-items: center;
    margin-top: 15px;
}

.const-div>:last-child {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 12px;
}

.const-div>:last-child>textarea {
    width: 90%;
}

/* styling for card 3 artical writing input*/
.inp-artical {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* title styling */
.inp-artical>:first-child {
    width: 100%;
}

.inp-artical>:first-child>h3 {
    margin: 3px;
}

.inp-artical>:first-child>input {
    width: 90%;
    padding: 5px 10px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 5px;
}

/* content Styling */
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content>h3 {
    margin: 0px;
    padding: 0px;
}

.edit-tools {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2px;
    border-radius: 6px;
}

.edit-tools>:first-child {
    display: flex;
    justify-content: space-around;
    
}

.edit-tools>:first-child>a {
    text-decoration: none;
    font-size: 10px;
    color: black;
}

.edit-tools>:last-child {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-tools>:last-child>a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.content>:last-child>textarea {
    width: 88%;
    padding: 5px 10px;
    margin: auto;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

/* styling for card 4 */
#faq-cont{
    padding: 14px;
}

.faq-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.faq-content>a{
text-align: right;
width: 100%;
color: black;

}